body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #fff;
}

.hero-image {
    background-image: url("../images/hero.png");
    background-color: #cccccc;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    padding: 30px;
    top: 6%;
}

h1 {
    font-size: xx-large;
    font-weight: bolder;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

p {
    padding-top: 3%;
}

h1,
h2,
h3,
p {
    font-weight: bolder;
}

.pagination {
    justify-content: center;
}

img {
    display: block;
}

.home_img {
    display: block;
    transition: all 0.2s ease;
    cursor: pointer
}

.home_img:hover {
    transform: scale(1.1)
}

.btn-primary {
    color: #000;
    background-color: #EEF1F2;
    font-weight: bold;
}

/* padding for larger desktop
.thumbnail{
    padding: 0px 0px 0px 30px;
}

*/

.thumbnail {
    padding: 20px;
}


.username_text {
    margin: 2% 5.1% 0% 0%;
}

strong {
    color: #8D8C8C;
}

.navbar {
    margin: 3%;
    padding: 1%;
}

form {
    color: #000;
}

.login-modal {
    background-color: #222222;
    padding: 15px;
}

.login-text {
    color: #fff;
}

.register-modal {
    background-color: #222222;
}

.register-body {
    background-color: #fff;
    padding: 15px;
}

i {
    color: #fff;
}

textarea {
    height: 500px;
}

hr {
    border-bottom: 8px solid #222;
    opacity: 1;
    margin: 0;
    padding: 0;
}

#section {
    padding: 60px 50px;
}


p.description_text {
    padding-top: 20%;
}

.footer-icons {
    width: 40px;
}


@media only screen and (min-width: 500px) {
    p.description_text {
        padding: 0%;
    }
}