/* BODY */

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

hr {
    border-bottom: 8px solid #222;
    opacity: 1;
    margin: 0;
    padding: 0;
}

.section {
    padding: 60px 50px;
}

/* NAV */
.navbar {
    margin: 3%;
    padding: 1%;
}

/* HERO */
.hero-image {
    background-image: url("../images/hero.png");
    background-color: #cccccc;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    padding: 30px;
    text-shadow: 2px 2px 0px #000;
}

/* TEXT */
h1 {
    font-size: xx-large;
    font-weight: bolder;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

p {
    padding-top: 3%;
}

h1,
h2,
h3,
p {
    font-weight: bolder;
}

.text_upload{
    color:#fff;
}

.username_text {
    margin: 2% 5.1% 0% 0%;
}

strong {
    color: #8D8C8C;
}

/* PAGINATION */
.pagination {
    justify-content: center;
}

/* IMAGE, THUMBNAIL */
img {
    display: block;
}

.home_img{
    display: block;
    transition: all 0.2s ease;
    cursor: pointer
}

.home_img:hover {
  transform: scale(1.1)
}

.thumbnail {
    padding: 20px;
}

/* BUTTONS */
.btn-primary{
    color:#000;
    background-color: #EEF1F2;
    font-weight: bold; 
}

.play_btn{
    z-index: 1;
    position: absolute;
}

#registerbtn{
    color: #fff;
    background-color: #000;
    font-weight: bold; 
}

.cancel_btn{
    color: #fff;
    background-color: #6C757D;
}

/* CSS Style customised code from: https://mdbootstrap.com/snippets/standard/mdbootstrap/2964350#css-tab-view */
#btn-back-to-top {
    position: fixed;
    bottom: 30px;
    right: 0px;
    display: none;
}

/* FORM */
form {
    color: #000;
}

textarea {
    height: 500px;
}

i {
    color: #fff;
    cursor: pointer
}

p.description_text {
    padding-top: 20%;
}

/* MODAL */
.login-modal {
    background-color: #222222;
    padding: 15px;
}

.login-text {
    color: #fff;
}

.register-modal {
    background-color: #222222;
}

.register-body {
    background-color: #fff;
    padding: 15px;
}


/* FOOTER */
.footer-icons {
    width: 40px;
    cursor: pointer
}

/* MEDIA SCREENS */

@media only screen and (min-width: 500px) {
    .hero-text {
        padding: 90px;
    }

    #btn-back-to-top {
        right: 20px;
    }
}

@media only screen and (min-width: 560px) {
    .hero-text {
        padding: 100px;
    }

    p.description_text {
        padding: 0%;
    }

    .navbar{
        margin: 0;
        padding: 0;
    }
}

@media only screen and (min-width: 700px) {
    .hero-text {
        padding: 120px;
    }

    .navbar {
        margin: 0%;
    }

    h1 {
        font-size: 35px;
    }
    
    h2 {
        font-size: 25px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    p {
        padding-top: 3%;
        font-size: 18px;
    }

    p.username_text{
        font-size: 16px;
    }
}

@media only screen and (min-width: 1000px) {
   
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 30px;
    }
    
    h3 {
        font-size: 24px;
    }
    
    p {
        font-size: 20px;
    }

    .about_section{
        padding: 40px 0px 0px 0px;
    }
}

@media only screen and (min-width: 1200px) {
   
    h1 {
        font-size: 45px;
    }
    
    h2 {
        font-size: 35px;
    }
    
    h3 {
        font-size: 28px;
    }

    h5 {
        font-size: 24px;
    }

    h6{
        font-size: 22px;
    }
    
    p {
        font-size: 25px;
    }

    a.nav-link {
        font-size: x-large;
    }

    p.username_text{
        font-size: 20px;
    }

    .logo{
        width:160px;
        height: 75px;
    }

}

