{% extends "base.html" %}
{% block content %}

<section class="container">
    <div class="row">
        <div class="col-12 mx-auto">
            <h1 class="text-center mt-3">404</h1>
            <div class="col-12 mt-5 mb-5">
                <img src="{{ url_for('static', filename='images/404.png') }}" class="mx-auto img-fluid" style="width:500px;height:500px;" alt="Game Image">
            </div>
        </div>
        {% if session.user %}
        <div class="col-sm-12 col-md-6 mx-auto text-center">
            <a href="{{url_for('/get_games', username=session['user'])}}" class="btn btn-lg btn-primary rounded-pill">
                Go Back Home
            </a>
        </div>
        {% endif %}
        <div class="col-sm-12 col-md-6 mx-auto text-center">
            <a href="{{url_for('/landing')}}" class="btn btn-lg btn-primary rounded-pill">
                Go Back Home
            </a>
        </div>
    </div>
</section>
{% endblock %}