{% extends "base.html" %}
{% block content %}

<section class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 text-center mx-auto">
            <h1 class="text-center mt-3">500</h1>
            <img src="{{ url_for('static', filename='images/500.png') }}" class="mx-auto img-fluid"
                style="width:100%; height:auto;" alt="404 Image">
            {% if session.user %}
                <a href="{{url_for('get_games', username=session['user'])}}"
                    class="btn btn-lg btn-primary rounded-pill mb-5">
                    Go Back Home
                </a>
                {% else %}
                <a href="{{url_for('landing')}}" class="btn btn-lg btn-primary w-60 rounded-pill mb-5">
                    Go Back to Home
                </a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}