{% extends "base.html" %}
{% block content %}

<section class="container">
<div class="row">
    <div class="col-12 mx-auto"> 
        <h1 class="text-center mt-3">500</h1>
        <div class="col-12 mt-5 mb-5">
            <img src="static/images/500.png" class="mx-auto img-fluid" width="400px" height="500px" alt="Game Image">
        </div>
        <div class="text-center mb-5">
            <a href="{{ url_for('landing') }}">
                <button class="w-20 btn btn-lg btn-primary rounded-pill" type="submit">
                    Go Home
                </button>
            </a>
        </div>
    </div>
</div>

{% endblock %}