{% extends "base.html" %}
{% block content %}

<section class="container">
    <h2 class="text-center pb-5">{{game.title}}</h2> 
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <img src="{{ game.photo1 }}" class="rounded mx-auto pb-3" width="100%" height="100%" alt="Game Image">
            <button class="btn w-22 btn btn-lg btn-primary">
                <a href="{{game.link}}"></a>Play
            </button>
        </div>
        
        <div class="col-sm-12 col-md-6">
            <p class="description_text">{{game.description }}</p>
            <div class="text-center">
                <a href="{{ game.github }}" target="_blank"><i class="fab fa-github footer-icons"></i></a>
                <a href="{{ game.instagram }}" target="_blank"><i class="fab fa-instagram footer-icons"></i></a>
                <a href="{{ game.linkedin }}" target="_blank"><i class="fab fa-linkedin footer-icons"></i></a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <p>Keywords: {{game.keywords }} <br> Uploaded by: {{ game.created_by }} {{ game.date }}</p>
</section>

    
    
   


{% endblock %}