{% extends "base.html" %}
{% block content %}

<h1 class="text-center">New Games</h1>
{%for game in games %}
<div class="container">
    <h2 class="text-center">{{game.title}}</h2> <br>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/games/{{ game._id}}">
                    <img src="{{ game.photo1 }}" alt="Game Image"
                    class="rounded mx-auto d-block" width="260px" height="400px">
                </a>
            </div>
        <div>
     </div>
    
</div>

{% endfor %}
<div class="pagination container mb-5">
{{ pagination.links }}
</div>
{% endblock %}