{% extends "base.html" %}
{% block content %}

<h1 class="text-center mb-5">Games</h1>

<!-- Search -->
<div class="row">
    <div class="text-center">
        <form action="{{ url_for('search') }}" method="post">
            <div class="input-field form-floating">
                <i class="fas fa-search prefix"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate" placeholder="Search" required>
                <label for="query" class="form-label ">Search</label>
            </div>
            <div class="mx-auto mt-3 mb-5">
                <a href="{{ url_for('get_games') }}" class=" btn btn-outline-secondary ">Reset</a>
                <button type="submit" class="btn btn-secondary">
                    <i class="fas fa-search"></i> Search
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Games display  -->
{% if games.count() > 0 %}
<div class="container">
    <div class="row">
        {%for game in games %}
        <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
                <a href="/games/{{ game._id}}">
                    <img src="{{ game.photo1 }}" alt="Game Image" class="rounded mx-auto d-block img-fluid home_img"
                        style="width:100%; height:100%;">
                </a>
            </div>
            <div>
            </div>
        </div>

        {% endfor %}
        <!-- No Results Found  -->
        {% else %}
        <div class="col-sm-12 col-md-4 px-2 mx-auto mt-3 mb-5">
            <img src="static/images/notFound.png" class="mx-auto img-fluid" style="width:fit-content; height:auto;" alt="Game Image">
        </div>

        {% endif %}

        <!-- Pagination -->
        <div class="pagination mb-5">
            {{ pagination.links }}
        </div>
    </div>
</div>
        {% endblock %}