{% extends "base.html" %}
{% block content %}

<h1 class="text-center">Your Games</h1>
{%for game in games %}
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/w3images/lights.jpg">
        <img src="{{game.photo2 }}" alt="Game Image"
          class="rounded mx-auto d-block" style="width:100%">
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="">
        <img src="{{game.photo2 }}" alt="Game Image"
          class="rounded mx-auto d-block" style="width:100%">
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="">
        <img src="{{game.photo2 }}" alt="Game Image"
          class="rounded mx-auto d-block" style="width:100%">
      </a>
    </div>
  </div>
</div>
{% endfor %}

<hr>

<h1 class="text-center">My Games</h1>






{% endblock %}