{% extends "base.html" %}
{% block content %}

<h1 class="text-center">My Games</h1>
{%for game in games %}
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/games/{{ game._id}}">
        <img
          src="{{ game.photo2 }}"
          alt="Game Image" class="rounded mx-auto d-block" style="width:100%">
      </a>
    </div>
    <div class="text-end pe-4 icons">
      <a href="{{ url_for('edit', game_id=game._id)}}"><i class="fas fa-edit"></i></a>
      <a href="{{ url_for('delete', game_id=game._id)}}"><i class="fas fa-trash-alt"></i></a>
    </div>
  </div>
</div>

{% endfor %}

<br>


<hr>

<br>

<h1 class="text-center">Top Rated Games</h1>






{% endblock %}